.image.cover img {
    object-fit: cover;
}

.card-header {
    max-height: 42px;
}

.card-content {

    hr {
        margin: .75rem .75rem .75rem 0;
    }

    .content ul {
        list-style: square;
    }
}

.modal-content, .modal-card {
    width: 95%;

    form {
        overflow: scroll;
    }
}

.field.has-addons.field-gap {
    gap: .5rem;
}

@mixin collapse-icon($angle: 0deg) {

    span.icon {

        i {
            margin-top: .15rem;
        }

        transition: transform .15s;
        transform: rotate($angle);
    }
}

a[data-action="collapse"] {

    &.is-active {
        @include collapse-icon(90deg);
    }

    &:not(.is-active) {
        @include collapse-icon();
    }
}
